* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
} */

.questions-titulo {
    color: #1d273b;
    font-weight: 300;
}

.titulo {
    color: #1d273b;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 500;
}


header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
}

.absolut {
    width: 100%;
    height: 80vh;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
}

h1::after {
    display: block;
    width: 60%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.575); */
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(41, 98%, 58%, 0.411), hsla(0, 70%, 41%, 0.466), hsla(228, 61%, 26%, 0.705));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(41, 98%, 58%, 0.411), hsla(0, 70%, 41%, 0.466), hsla(228, 61%, 26%, 0.705));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wavi {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #c19aff 0%, #c8c4fa 99%, #c4d1fa 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}


/* About us */

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: rgb(100, 40, 240);
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 4px 10px rgba(35, 3, 87, 0.5);
    margin-right: 7px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* galeria */

.portafolio {
    background: #f2f2f2;
}


/* clientes */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: rgb(42, 81, 138);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #f2f2f2;
}


.cards .card>.contenido-texto-card {
    font-weight: 300;
    padding-top: 5px;
}


/* our team */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #ffffff;
    border-bottom: 3px solid #2a4a73;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

/* about us */

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transform: scale(1);
    transition: transform 0.6s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    transform: scale(1.03);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: rgb(100, 40, 240);
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(44, 31, 222, 0.46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 200;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: rgb(82, 31, 222);
    transition: color .5s;
}


/* Questions */


.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    width: 550px;
}

.textos-questions {
    margin: 0 0 0 30px;
}

.textos-questions p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.textos-questions a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: rgb(66, 31, 222);
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(72, 31, 222, 0.46);
}


/* Services */

.services {
    display: flex;
    justify-content: space-between;
}

.services>img {
    width: 500px;
}

.box-skills {
    margin: 30px 30px 0 0;
}

.box-skills h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i {
    color: rgb(82, 31, 222);
    font-size: 20px;
}

/* Cards */

.content-car{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    border-radius: 10px;
    padding: 0px 10px;    
}

.car:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.car i{
    margin: 30px 0 20px 0;
    color: rgb(82, 31, 222);
    font-size: 50px;
}

.car p{
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 50px;
    }

    .titulo {
        font-size: 45px;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    /* About us */

    .articulo {
        width: 45%;
    }


    /* questions */

    .questions {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 720px;
    }

    .questions img {
        width: 400px;
    }

    /* services */

    .services {
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-skills {
        margin: 0 0 40px 0;

    }

    .box-skills h4 {
        width: 500px;
    }

    .services>img {
        width: 400px;
    }

    /* car */
    .car{
        width: 90%;
        margin-bottom: 20px;
    }

    /* clientes */

    .contenedor-card{
        background: #f2f2f2;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    /* servicios */
    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    h1::after {
        display: none;
    }


    video {
        width: 0;
    }

    .overlay {
        background: #1a2a6c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    /* car */
    .car{
        height: 380px;
    }

    /* clientes */

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img {
        width: 90px;
        height: 90px;
    }

    /* footer */

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border-bottom: none;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }

    /* About us */

    .articulo {
        width: 95%;
    }

    /* Questions */

    .questions>img {
        width: 200px;
    }

    /* Services */

    .services>img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }

    /* Footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }







}
